<div id="wiki-panel" class="wiki-panel">
    <div class="wiki-header">
        <button class="open-button" (click)="updateWiki()">Refresh Wiki</button>
        <button class="close-button" (click)="closeWiki()">Close</button>
        <button class="wiki-button" (click)="openWikiExternal()">Open Wiki in browser</button>
        <!-- <a id="wikiLinkButton" href="#" class="btn btn-info wiki-button" target="_blank" role="button"></a> -->
    </div>
    <div id="wiki-body">
        <div id="wiki-content">
        </div>
    </div>
    
</div>