<div class="issue-panel" id="issue-panel">
    <div class="modal-header">
        <button class="btn btn-primary" data-toggle="modal" data-target="#issue-modal">Open new issue</button>
        <button class="close-button btn btn-primary" (click)="closePanel()">Close</button>
        </div>
    <ul class="list-group" id="issue-dropdown" role="menu" aria-labelledby="issue-name">
    </ul>
</div>

<div id="issue-modal" class="modal fade"  role="dialog" aria-hidden="true">
        <div class="modal-dialog">
                <div class="modal-content">
                    <h1 style="color: black">&nbsp; New Issue </h1>
                    <br>
                       &nbsp; Title: <input type="text" name="title"><br><br>
                       &nbsp; Body: <input type="text" name="body"><br><br>
                       &nbsp; Assignee: <input type="text" name="body"><br><br>
                       &nbsp; Milestone: <input type="text" name="body"><br><br>
                       &nbsp; Labels: <input type="text" name=""><br><br>
                  <div class="modal-footer">  
                    <button type="button" class="btn btn-primary" id="sumbitIssue" onclick="sumbitIssue()">Sumbit Issue</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
  </div>